.hero {
    background-image: url(../img/header-bg.png);
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    h1 {
        font-size: 1.5em;
        font-weight: $fw-n;
        color: $dark-blue;
        text-align: center;
        line-height: 2;

        @include medq {
            font-size: 3vw;
        }

        span {
            @include sans-serif($fs: 5.5rem, $color: $accent);
            display: block;

            @include medq {
                font-size: 10vw;
            }
        }

        &::before, &::after {
            content: '';
            display: block;
            width: 60%;
            height: 1px;
            background: $dark-blue;
        }

        &::before {
            margin: 0 auto 2em;
        }

        &::after {
            margin: 2em auto 0;
        }
    }
}

.welcome {
    display: flex;
    color: rgba($color: $white, $alpha: .7);

    h2 {
        color: $white;

        &::after {
            content: '';
            width: 20%;
            height: 1px;
            background: rgba($white, .5);
            display: block;
            margin: 1em auto 0;
        }
    }

    @supports (display: grid) {
        display: grid;
        grid-template-columns: minmax(4em, 1fr) minmax(auto, 30em) minmax(4em, 1fr);
    } 
}

.welcome-middle {
    background: $dark-blue;
    padding: 2.5em 5vw;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.welcome-left, .welcome-right {
    object-fit: cover;
    min-height: 100%;
    min-width: 100%;
    display: block;
}